.SidebarContainer {
  display: flex;
  height: 100%;
  padding: 25px;
}

.left-page {
  flex: 4;
}
ul > li {
  padding-top: 15px;
}
.Sidebarlist {
  display: flex;
  flex-direction: column;
}
Button {
  margin-top: 0.5rem !important;
}
.containerSide {
   width: 20% 
}
@media (max-width: 600px) {
  .containerSide {
    width: auto
 }
}